div:nth-child(1){
    border-right:  1px solid #555;
    float: left;
    width: 13%;
    margin-right: 9px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

option{
    background-color: #fff;
}

option[value="normal"]{
    background-color: #0f0;
}


option[value="dificil"]{
    background-color: #ff0;
}

option[value="muitodificil"]{
    background-color: #e8a546;
}

option[value="extremo"]{
    background-color: #f00;
}

div:nth-child(2){
    float: left;
    width: auto;
}

section > span {
    float: left;
    margin-left: 30.7%;
    clear: both;
    display: none;
    color: #f00;
}

section {
    overflow: auto;
}

canvas{
    float: left;
    margin-top: 2%;
}

article{
    margin-top: 0.8%;
    float: left;
    width: 37%;
}

article > h2{
    margin-left: 5%;
}